PORT=4001
NODE_ENV=development
LOG_LEVEL=info
DATABASE_URL="postgresql://admin:irctcpass@localhost:5432/postgres?schema=public"
REDIS_URL="redis://:irctcpass@localhost:6379"
SENDGRID_API_KEY="your_sendgrid_api_key"
MAIL_SEND="your_verified_sender_email"

OTP_TTL=300
OTP_RATE_MAX_PER_HOUR=5
OTP_MAX_VERIFY_ATTEMPTS=5
OTP_HMAC_SECRET="your_otp_hmac_secret"

